@import "abstracts";
.card {
  border: 1px solid $--clr-neutral;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(10);
  color: $--clr-secondary;
  max-width: toRem(360);
  fill: $--clr-primary;
  stroke: $--clr-primary;
  transition: $transition-duration;
  background-color: $--clr-background;
  &:hover {
    background-color: $--clr-primary;
    color: $--clr-background;
    stroke: $--clr-background;
  }
  &__icon {
    @include square(75);
    margin-block-end: toRem(20);
    path {
      fill: inherit;
      stroke: inherit;
    }
  }
  &__heading {
    font-size: toRem(25);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: toEm(-0.1);
    text-align: left;
  }
  &__desc {
    font-size: toRem(18);
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: toEm(-0.1);
    text-align: left;
  }
  &__btn {
    color: $--clr-primary;
    font-size: toRem(18);
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: toEm(-0.1);
    display: flex;
    align-items: center;
    gap: toRem(10);
    stroke: inherit;
    fill: inherit;
    cursor: pointer;

    .card:hover & {
      color: inherit;
    }
    &:hover &-icon {
      margin-inline-start: toRem(8);
    }
    &-icon {
      width: toRem(25);
      height: auto;
      aspect-ratio: 25/12;
      transition: $transition-duration;

      path {
        stroke: $--clr-primary;
        fill: $--clr-primary;
      }
      .card:hover & {
        path {
          fill: $--clr-background;
          stroke: $--clr-background;
        }
      }
    }
  }
}
