@import "abstracts";
.tab-info {
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: toRem(25);
    margin-block-start: toRem(100);
  }
  &__btn {
    $animated-properties: color, background-color;
    flex: 1;
    min-width: fit-content;
    transition: $transition-delay;
    will-change: $animated-properties;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    margin-block-start: toRem(35);
    &-item {
      @extend %fadeInEffect;
      display: flex;
      flex-direction: column;
      gap: toRem(6);
    }
  }
  &__skill {
    &-name {
      color: $--clr-secondary-1;
      font-size: toRem(20);
      font-weight: 600;
      line-height: 1.5;
    }
    &-desc {
      color: $--clr-secondary-1;
      font-size: toRem(18);
      font-weight: 400;
      line-height: 1;
    }
  }
}
