@import "abstracts";
:host{
  position: relative;
}
.projects {
  text-align: center;
  &__heading {
    margin-block-end: toRem(24);
  }
  &__sub-heading {
    margin-block-end: toRem(50);
  }
  &__buttons {
  }
  &__btn {
    $animated-properties: color, background-color;
    transition: $transition-duration;
    will-change: $animated-properties;
  }
  &__image {
    width: 100%;
    height: 100%;
    transition: $transition-duration cubic-bezier(0.455, 0.03, 0.515, 0.955);
    will-change: width, height;
    z-index: zIndex('below');
    position: relative;
  }
  &__list {
    transition: $transition-duration;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);
    margin-block-start: toRem(50);
    @include respond-to(small) {
      grid-template-columns: 1fr;
    }
    &-item {
      @extend %fadeInEffect;
      width: 100%;
      height: auto;
      // aspect-ratio: 406/367;
      aspect-ratio: 1;
      overflow: hidden;
      cursor: pointer;
      padding: 0;
      position: relative;
      // border-radius: toRem(19);
      &:hover .projects__image {
        transform: scale(1.05);
      }
      &-name{
        position: absolute;
        left: 0;
        bottom: 0;
        color: $--clr-secondary;
        background-color: $--clr-primary-transparent;
        padding: toRem(14);
        width: 100%;
      }
    }
  }
}

