@if(data()){ @let info = data();

  <om-dotpattern styleClass="dotpattern">
    <div class="stats-wrapper container-full section">
      <section class="stats container">
        <img
          class="stats__bg-img"
          src="assets\images\stats\stats-bg.svg"
          alt=""
          width="890"
          height="890"
          />
          <h2 class="stats__heading h2">
            {{info.heading}}
          </h2>
          <h3 class="stats__sub-heading">
            {{info.subheading}}
          </h3>

          <ul class="stats__card-list">
            @for (card of info.statInformation; track card) {
              <li class="stats__card-list-item">
                <om-shine-border>
                  <div class="stats__card card">
                    <span class="stats__card-value">
                      {{ card.name }}
                    </span>
                    <span class="stats__card-desc"> {{ card.info }} </span>
                  </div>
                </om-shine-border>
              </li>
            }
          </ul>
        </section>
      </div>
    </om-dotpattern>
  }
