@import "abstracts";
.projects {
  padding-block: toRem(80);
  text-align: center;
  &__heading {
    margin-block-end: toRem(24);
  }
  &__sub-heading {
    margin-block-end: toRem(50);
  }
  &__buttons {

  }
  &__btn {
    $animated-properties: color, background-color;
    transition: $transition-delay;
    will-change: $animated-properties;
  }
  &__image {
    width: 100%;
    height: 100%;
    transition: $transition-delay cubic-bezier(0.455, 0.03, 0.515, 0.955);
    will-change: width, height;
  }
  &__list {
    transition: $transition-delay;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);
    margin-block-start: toRem(50);
    &-item {
      @extend %fadeInEffect;
      width: 100%;
      height: auto;
      aspect-ratio: 406/367;
      overflow: hidden;
      cursor: pointer;
      padding: 0;
      // border-radius: toRem(19);
      &:hover .projects__image {
        transform: scale(1.05);
      }
    }
  }
}
