@import "abstracts";
.projects {
  background-color: $--clr-white-8;
  padding-block: toRem(80);
  text-align: center;
  &__heading {
    margin-block-end: toRem(24);
  }
  &__sub-heading {
    margin-block-end: toRem(50);
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: toRem(24);
  }
  &__btn {
    $animated-properties: color, background-color;
    transition: 0.23s;
    will-change: $animated-properties;
  }
  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 406/367;
  }
  &__list {
    transition: 0.34s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);
    margin-block-start: toRem(50);
    &-item {
      @extend %fadeInEffect;
    }
  }
}
