@import "abstracts";
.services {
  padding-block: toRem(80);
  text-align: center;
  &__heading,
  &__sub-heading {
    margin-block-end: toRem(15);
  }
  &__sub-heading {
    color: $--clr-secondary-1;
  }
  &__desc {
    color: $--clr-secondary-1;
    text-align: center;
    font-size: toRem(18);
    font-weight: 400;
    line-height: 1.38;
    margin-block-end: toRem(60);
  }
  &__swapper-btn{
    margin-block-end: toRem(50);
  }
}
