<om-retro-grid [gridColor]="'#fff'"
[fadeColor]="'rgb(15, 15, 15)'" >
  <section class="services container section">
    <h2 class="services__heading">Services</h2>
    <h3 class="services__sub-heading">
      Elevating Design<span class="special"> Mastery</span>
    </h3>
    <p class="services__desc">
      Turning your ideas into a distinctive web project that not only inspires
      but also captivates users.
    </p>

    <app-swapper-button
      [swapper]="swapper"
      class="services__swapper-btn"
    ></app-swapper-button>
    <ul
      #swapper="swapper"
      [total]="10"
      [cardWidth]="360"
      [cardToShow]="4"
      [gap]="30"
      class="services__list swapper"
    >
      <li class="services__list-item swapper-item" *ngFor="let i of 10 | range">
        <app-service-card></app-service-card>
      </li>
    </ul>
  </section>
</om-retro-grid>
