@import "abstracts";
.clients {
  padding-block: toRem(80);
  text-align: center;
  &__heading {
    margin-block-end: toRem(24);
  }
  &__sub-heading {
    margin-block-end: toRem(50);
  }
  &__list {


    &-item {
    }
  }
  &__swapper-btn{
    margin-block-end: toRem(50);
  }
}
