<section class="clients container">
  <h2 class="clients__heading">Testimonials</h2>
  <h3 class="clients__sub-heading">The Trust From Clients</h3>
  <ul class="clients__list swapper">
    <li
      *ngFor="let client of clients"
      class="clients__list-item swapper-item"
    >
      <app-client-card [data]="client"></app-client-card>
      <!-- <div class="clients__card card">
        <img
          class="clients__photo"
          src="assets/images/clients/client ({{ (i % 4) + 1 }}).png"
          alt=""
          width="150"
          height="150"
        />
        <p class="clients__feedback">
          Lorem ipsum dolor sit amet consectetur. Nibh porttitor aliquet tellus
          eget egestas. Enim ultrices dictumst tortor in eget neque vestibulum
          potenti tempus
        </p>
        <div class="clients__ratings">
          <img
            *ngFor="let start of [1, 2, 3, 4, 5]"
            src="assets/images/icons/star.svg"
            alt="star"
            width="26"
            height="24.9"
            class="clients__star"
          />
        </div>
        <div class="clients__info">
          <span class="clients__name">Savannah Nguyen</span>
          <span class="clients__position">President of Sales</span>
        </div>
      </div> -->
    </li>
  </ul>
</section>
