@import "abstracts";
:host{
  width: 100%;
  height: toRem(17);
}
.bar{
  height: inherit;
  width: inherit;
  border-radius: toRem(10);

}
.bar-bg{
  @extend .bar;
  background-color: $--clr-background;

}
.bar-preogress{
  @extend .bar;
  background-color: $--clr-primary;
}
