@import "abstracts";
.supports {
  display: flex;
  justify-content: stretch;
  @include respond-to(small) {
    padding-block: toRem(40);
    flex-direction: column;
    gap: toRem(20);
    align-items: center;
  }
  &-wrapper {
    background-color: $--clr-white-6;
  }
  &-item {
    flex: 1;
  }
  &-image {
    object-fit: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
    // filter: brightness(.4);
    filter: grayscale(1);
    transition: filter $transition-duration;
    &:hover{
      filter: none;
    }
    @include respond-to(small) {
      aspect-ratio: 3/1;
    }
  }
}
