@import "abstracts";
.supports {
  display: flex;
  justify-content: stretch;
  gap: toRem(30);
  @include respond-to(small) {
    flex-direction: column;
    gap: toRem(30);
    align-items: center;
  }
  &-wrapper {
    background-color: $--clr-neutral;
  }
  &-item {
    flex: 1;
  }
  &-image {
    object-fit: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    // filter: brightness(.4);
    aspect-ratio: 4/2;
    filter: grayscale(1);
    transition: filter $transition-duration;
    &:hover{
      filter: none;
    }
    @include respond-to(small) {
      aspect-ratio: 1;
      // aspect-ratio: 3/1;
      width: toRem(130);
    }
  }
}
