$--clr-primary: var(--clr-primary);
$--clr-primary-transparent: var(--clr-primary-transparent);

$--clr-neutral: var(--clr-neutral);

$--clr-secondary: var(--clr-secondary);

$--clr-background: var(--clr-background);

$--clr-yellow-1: var(--clr-yellow);

$--clr-grey: var(--clr-grey);

$colors-light: (
  --clr-primary: #6400b1,
  // transparent version of primarycolor
  --clr-primary-transparent: #7007c1a5,

  --clr-neutral: #270539,
  --clr-secondary: #e0e0e0,
  --clr-background: #1d002c,
  --clr-yellow-1: #ffb400,
);

$colors-dark: (
  --clr-primary-1: #48a3ff,
  --clr-primary-2: #8cbcff,
  --clr-primary-3: #0078ff,
  --clr-primary-4: #00489a,

  --clr-secondary-1: #dddddd,
  --clr-secondary-2: #f5f5f5,
  --clr-secondary-3: #666666,
  --clr-secondary-4: #cccccc,
  --clr-secondary-5: #f2f2f2,
  --clr-secondary-6: #e6e6e6,

  --clr-white-1: #333333,
  --clr-white-2: #2a2a2a,
  --clr-white-3: #444444,
  --clr-white-4: #666666,
  --clr-white-5: #1a1a1a,
  --clr-white-6: #141414,
  --clr-white-7: #262626,
  --clr-white-8: #000000,

  --clr-yellow-1: #cc9400,
);
