$--clr-primary-1: var(--clr-primary-1);
$--clr-primary-2: var(--clr-primary-2);
$--clr-primary-3: var(--clr-primary-3);
$--clr-primary-4: var(--clr-primary-4);

$--clr-secondary-1: var(--clr-secondary-1);
$--clr-secondary-2: var(--clr-secondary-2);
$--clr-secondary-3: var(--clr-secondary-3);
$--clr-secondary-4: var(--clr-secondary-4);
$--clr-secondary-5: var(--clr-secondary-5);
$--clr-secondary-6: var(--clr-secondary-6);

$--clr-white-1: var(--clr-white-1);
$--clr-white-2: var(--clr-white-2);
$--clr-white-3: var(--clr-white-3);
$--clr-white-4: var(--clr-white-4);
$--clr-white-5: var(--clr-white-5);
$--clr-white-6: var(--clr-white-6);
$--clr-white-7: var(--clr-white-7);
$--clr-white-8: var(--clr-white-8);

$--clr-yellow-1: var(--clr-yellow);

$colors-light: (
  --clr-primary-1: #0069e6,
  --clr-primary-2: #f5f5f5,
  --clr-primary-3: #0078ff,
  --clr-primary-4: #00489a,

  --clr-secondary-1: #222222,
  --clr-secondary-2: #000000,
  --clr-secondary-3: #666666,
  --clr-secondary-4: #333333,
  --clr-secondary-5: #141b34,
  --clr-secondary-6: #333333,

  --clr-white-1: #dddddd,
  --clr-white-2: #e9efff,
  --clr-white-3: #eeeeee,
  --clr-white-4: #cccccc,
  --clr-white-5: #f2f2f2,
  --clr-white-6: #f8f8f8,
  --clr-white-7: #e6e6e6,
  --clr-white-8: #ffffff,

  --clr-yellow-1: #ffb400,
);

$colors-dark: (
  --clr-primary-1: #0069e6,
  --clr-primary-2: #79b2f2,
  --clr-primary-3: #0078ff,
  --clr-primary-4: #00489a,

  --clr-secondary-1: #222222,
  --clr-secondary-2: #000000,
  --clr-secondary-3: #666666,
  --clr-secondary-4: #333333,
  --clr-secondary-5: #141b34,
  --clr-secondary-6: #333333,

  --clr-white-1: #dddddd,
  --clr-white-2: #e9efff,
  --clr-white-3: #eeeeee,
  --clr-white-4: #cccccc,
  --clr-white-5: #f2f2f2,
  --clr-white-6: #f8f8f8,
  --clr-white-7: #e6e6e6,
  --clr-white-8: #ffffff,

  --clr-yellow-1: #ffb400,
);
