$--clr-primary-1: var(--clr-primary-1);
$--clr-primary-2: var(--clr-primary-2);
$--clr-primary-3: var(--clr-primary-3);

$--clr-secondary-1: var(--clr-secondary-1);
$--clr-secondary-2: var(--clr-secondary-2);
$--clr-secondary-3: var(--clr-secondary-3);
$--clr-secondary-4: var(--clr-secondary-4);
$--clr-secondary-5: var(--clr-secondary-5);
$--clr-secondary-6: var(--clr-secondary-6);
$--clr-secondary-7: var(--clr-secondary-7);

$--clr-white-1: var(--clr-white-1);
$--clr-white-2: var(--clr-white-2);
$--clr-white-3: var(--clr-white-3);
$--clr-white-4: var(--clr-white-4);
$--clr-white-5: var(--clr-white-5);
$--clr-white-6: var(--clr-white-6);
$--clr-white-7: var(--clr-white-7);
$--clr-white-8: var(--clr-white-8);

$--clr-yellow-1: var(--clr-yellow);

$--clr-grey: var(--clr-grey);

$colors-light: (
  --clr-primary-1: #333D79FF,
  --clr-primary-2: #333D79FF,
  --clr-primary-3: #333D79FF,

  --clr-grey: #f3dde4,

  --clr-secondary-1: #021528,
  --clr-secondary-2: #021528,
  --clr-secondary-3: #021528,
  --clr-secondary-4: #021528,
  --clr-secondary-5: #021528,
  --clr-secondary-6: #021528,
  --clr-secondary-7: #021528,

  --clr-white-1: #FAEBEFFF,
  --clr-white-2: #FAEBEFFF,
  --clr-white-3: #FAEBEFFF,
  --clr-white-4: #FAEBEFFF,
  --clr-white-5: #FAEBEFFF,
  --clr-white-6: #FAEBEFFF,
  --clr-white-7: #FAEBEFFF,
  --clr-white-8: #FAEBEFFF,

  --clr-yellow-1: #ffb400,
);

$colors-dark: (
  --clr-primary-1: #48a3ff,
  --clr-primary-2: #8cbcff,
  --clr-primary-3: #0078ff,
  --clr-primary-4: #00489a,

  --clr-secondary-1: #dddddd,
  --clr-secondary-2: #f5f5f5,
  --clr-secondary-3: #666666,
  --clr-secondary-4: #cccccc,
  --clr-secondary-5: #f2f2f2,
  --clr-secondary-6: #e6e6e6,

  --clr-white-1: #333333,
  --clr-white-2: #2a2a2a,
  --clr-white-3: #444444,
  --clr-white-4: #666666,
  --clr-white-5: #1a1a1a,
  --clr-white-6: #141414,
  --clr-white-7: #262626,
  --clr-white-8: #000000,

  --clr-yellow-1: #cc9400,
);
