%inheritColors {
  color: inherit;
  background-color: inherit;
}

%hideScrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}

%fadeInEffect{
  animation: fadeIn $transition-delay;
}

%center{
  display: flex;
  justify-content: center;
  align-items: center;
}
