.btn {
  display: flex;
  align-items: center;
  gap: toRem(15);

  font-size: toRem(20);
  padding: toEm(17) toEm(33);
  text-align: center;
  border-radius: 50px;
  background: $--clr-primary-1;
  color: $--clr-white-8;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  & img{
    width: 1.25rem;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain
  }
}
.btn-outlined {
  @extend .btn;
  background-color: $--clr-white-8;
  color: $--clr-primary-1;
  border: 1px solid $--clr-primary-1;
}
