.swapper {
  $gap: toRem(30);
  $total-card: 10;
  $card-width: toRem(360);
  $show-card: 4;

  $mobile-space: 9.5vw;
  @extend %hideScrollbar;
  gap: $gap;
  overflow-x: auto;

  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;

  display: grid;
  grid-template-columns: repeat(
    $total-card,
    calc((100% - $gap * ($show-card - 1)) / $show-card)
  );
  @include respond-to(small) {
    display: flex;

    padding-inline: calc($gap * 3);
    width: 100vw;
    margin-left: -$mobile-space;
    padding-left: calc(100vw - $mobile-space);
  }

  // transition: $transition-duration;
  &-item {
    scroll-snap-stop: always;
    scroll-snap-align: start;

    @include respond-to(small) {
      flex-shrink: 0;
      scroll-snap-align: center;
    }
  }
}
