
.swapper {
  $gap: toRem(30);
  @extend %hideScrollbar;
  display: flex;
  gap: $gap;
  overflow-x: auto;

  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
  @include respond-to(small){
    padding-inline: calc($gap * 3 );
    width: 100vw;
    margin-left: -7vw;
  }

  // transition: $transition-duration;
  &-item {
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    @include respond-to(small) {
      scroll-snap-align: center;
    }
  }
}
