// -----------------------------------------------------------------------------
// This file contains very basic styles.
// i.e all links should have red underline
// -----------------------------------------------------------------------------
.pageclip-form__success{
  display: none;
}
:root {
  @include respond-to(large) {
    font-size: 1.1vw;
  }
  @include respond-to(small) {
    font-size: 13.51vmin;
    font-size: 2.99vmin;
    // font-size: 3.135rem;
  }
}
* {
  scroll-behavior: smooth;
  &::selection {
    background-color: $--clr-primary-1;
    color: $--clr-white-8;
  }
}
body {
  color: $--clr-secondary-1;
  background-color: $--clr-white-8;
  font-family: "Work Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: toRem(60);
  font-style: normal;
  font-weight: 700;
  line-height: 1.25em;
}
h2 {
  font-size: toRem(20);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: toEm(.8);
  color: $--clr-primary-1;
  text-transform: uppercase;
}
h3 {
  font-size: toRem(50);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
a,
button {
  cursor: pointer;
}

.special {
  color: $--clr-primary-1;
}
.strong {
  font-weight: 700;
}
