@import "abstracts";
.card {
  max-width: toRem(297);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(20);
  border: 1px solid $--clr-white-1;
  box-sizing: border-box;

  &__photo {
    @include square(150);

  }
  &__feedback {
    color: $--clr-secondary-2;
    font-size: toRem(16);
    font-weight: 400;
    line-height: 1.25;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(5);
    font-size: toRem(16);
  }
  &__name {
    color: $--clr-secondary-2;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  &__position {
    color: $--clr-secondary-3;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(5);
  }
  &__star {
    width: toRem(26);
    height: auto;
    aspect-ratio: 26/24.9;
  }
}
