<section class="about-me container section">
  <picture class="about-me__picture">
    <img
      src="assets/images/profile/profile-pic.png"
      alt="about-me image"
      class="about-me__image"
      width="627"
      height="623"
    />
    <img
      src="assets/images/profile/profile-pic-bg.png"
      alt="about-me image"
      class="about-me__bg-image"
      width="627"
      height="623"
    />
  </picture>

  <div class="about-me__content">
    <h2 class="about-me__heading">about me</h2>
    <h3 class="about-me__sub-heading">
      <span class="special"> 20 Year’s Experience </span>
      <br />
      on Product Design
    </h3>
    <p class="about-me__para">
      Hello there! I'm <span class="strong">Robert Junior.</span> I specialize
      in web design and development, and I'm deeply passionate and committed to
      my craft. With <span class="strong">20 years</span> of experience as a
      professional graphic designer
    </p>
    <app-info-tab class="about-me__tabs"></app-info-tab>
  </div>
</section>
