@import "abstracts";
.about-me {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  gap: toRem(30);

  // old code
  padding-block: toRem(95) toRem(100);

  // ṇew code
  // height: calc(100vh - $header-height);
  // padding: 0;
  transition: height $transition-duration;

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    flex: 0 3 toRem(620);
  }
  &__sub-heading {
    text-align: left;
  }
  &__para {
    color: $--clr-secondary-1;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: 1.38; /* 138.889% */
  }

  &__picture {
    position: relative;
    // align-self: center;
    flex: 0 1.6 toRem(627);
  }
  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 627/623;
    border-radius: 50%;
  }
  &__bg-image {
    position: absolute;
    z-index: zIndex("below");

    top: toRem(134);
    right: toRem(20);

    width: toRem(765);
    height: auto;
    aspect-ratio: 765/766;
  }
}
