<section class="about-me container section">
  <picture class="about-me__picture">
    <img
      src="assets/images/profile/profile-pic.webp"
      alt="about-me image"
      class="about-me__image"
      width="627"
      height="623"
    />
    <img
      src="assets/images/profile/profile-pic-bg.svg"
      alt="about-me image"
      class="about-me__bg-image"
      width="627"
      height="623"
    />
  </picture>

  <div class="about-me__content">
    <h2 class="about-me__heading">about me</h2>
    <h3 class="about-me__sub-heading">
      <span class="special"> 6 Year’s Experience </span>
      <br />
      on Product Design
    </h3>
    <p class="about-me__para">
      Hey! I'm <strong class="special">Mark Walker</strong>, a frontend developer with
      <strong class="special">6 years</strong> of experience. Let's create something
      <strong class="special">awesome</strong> together!
    </p>
    <app-info-tab class="about-me__tabs"></app-info-tab>
  </div>
</section>
