@import "abstracts";
.about-me {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  gap: toRem(30);

  // old code
  padding-block: toRem(95) toRem(100);

  // ṇew code
  // height: calc(100vh - $header-height);
  // padding: 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    flex: 0 3 toRem(620);
  }
  &__heading {
    text-align: left;
  }
  &__para {
    color: $--clr-secondary-1;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: 1.38; /* 138.889% */
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: toRem(25);
    margin-block-start: toRem(100);
  }
  &__btn{

    flex: 1;
    min-width: auto;
  }

  &__image {
    align-self: center;
    border-radius: 50%;
    width: toRem(627);
    height: auto;
    aspect-ratio: 627/623;
    flex: 0 .6 toRem(627);
  }
}
