@import "abstracts";
.about-me {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  gap: toRem(30);
  position: relative;
  // old code

  // ṇew code
  // height: calc(100vh - $header-height);
  // padding: 0;
  transition: height $transition-duration;

  @include respond-to(small) {
    flex-direction: column;
    gap: toRem(15);
    padding-bottom: toRem(30);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    flex: 0 3 toRem(620);
  }
  &__heading {
    @include respond-to(small) {
      text-align: center;
    }
  }
  &__sub-heading {
    text-align: left;
    @include respond-to(small) {
      text-align: center;
    }
  }
  &__para {
    color: $--clr-secondary;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: 1.38; /* 138.889% */
    @include respond-to(small) {
      text-align: center;
    }
  }

  &__picture {
    position: relative;
    // align-self: center;
    flex: 0 1.6 toRem(627);
    @include respond-to(small) {
      text-align: center;
      flex: auto;
    }
  }
  &__image {
    @include square(627);
    width: 100%;
    border-radius: 50%;
  }
  &__bg-image {
    position: absolute;
    z-index: zIndex("below");

    top: toRem(134);
    right: toRem(20);

    width: toRem(765);
    height: auto;
    aspect-ratio: 765/766;

    filter: brightness(0.7);

    @include respond-to(small) {
      display: none;
    }
  }
  &__tabs {
    margin-block-start: toRem(100);
    @include respond-to(small) {
      margin-block-start: toRem(50);
    }
  }
}
.dotpattern{
  background-color: $--clr-background;
}

