<div class="footer-wrapper container-full">
  <footer class="footer container">
    <span class="footer__right">
      <!-- <img
        class="footer__logo"
        src="../../../../assets/images/logo/white-logo.svg"
        alt="AeroVision"
        width="175"
        height="50"
      /> -->
      <span class="demo-logo">
        [ LOGO ]
       </span>

      <span class="footer__right-text"
        >© Copyright 2023. All Rights Reserved.</span
      >
    </span>
    <span class="footer__social-media">
      <span class="footer__social-text"> FOLLOW US: </span>
      <ul class="footer__social-links">
        <li
          *ngFor="let social of socialMedias"
          class="footer__social-link-item"
        >
          <a href="#" class="footer__social-link" [title]="social.name">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 50 50"
              class="footer__social-icon"
              title="{{ social.name }}"
              fill="currentColor"
            >
              <path
              [attr.d]="social.svgPath"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </span>
  </footer>
</div>
