<header class="header container">
  <img
    src="assets/images/logo/logo.svg"
    alt="AeroVision"
    width="175"
    height="50"
    class="header__logo"
  />
  <nav class="header__nav">
    <ul class="header__links">
      <li class="header__link-item">
        <a class="header__link" href="#">Home</a>
      </li>
      <li class="header__link-item">
        <a class="header__link" href="#">About Me</a>
      </li>
      <li class="header__link-item">
        <a class="header__link" href="#">Services</a>
      </li>
      <li class="header__link-item">
        <a class="header__link" href="#">Blog</a>
      </li>
      <li class="header__link-item">
        <a class="header__link" href="#">Contact Me</a>
      </li>
      <li class="header__link-item"></li>
    </ul>

    <button class="header__btn btn">Let’s chat</button>
  </nav>
</header>
