<header id="home" class="header container">
  <img
    src="assets/images/logo/logo.svg"
    alt="AeroVision"
    width="175"
    height="50"
    class="header__logo"
    fetchpriority="high"
  />
  <button class="header__mobile-nav-btn" (click)="onToggle()">
    <img
      src="assets/images/icons/menu.svg"
      alt="menu button"
      width="31.333"
      height="32"
    />
  </button>
  <nav
    [ngClass]="{
      header__nav: true,
      'header__nav--show': openMenu
    }"
  >
    <div class="header__mobile-nav-btn header__nav-btn" (click)="onToggle()">
      <img
        src="assets/images/icons/menu.svg"
        alt="menu button"
        width="31.333"
        height="32"
      />
    </div>
    <ul class="header__links">
      <li *ngFor="let link of links" class="header__link-item">
        <a class="header__link" href="#{{ link }}">{{ link }}</a>
      </li>
    </ul>

    <button class="header__btn btn">Let’s chat</button>
  </nav>
  <div
    (click)="onToggle()"
    [ngClass]="{
      'header__nav-overlay': true,
      'header__nav-overlay--show': openMenu
    }"
  ></div>
</header>
