<header id="home" class="header container">
  <img
    src="assets/images/logo/logo.svg"
    alt="AeroVision"
    width="175"
    height="50"
    class="header__logo"
    fetchpriority="high"
  />
  <div class="header__mobile-nav-btn" (click)="onToggle()">
    <svg
      *ngFor="let svg of [1, 2, 3]"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="2"
      viewBox="0 0 16 2"
      fill="none"
    >
      <path
        d="M0 1H16"
        stroke="#141B34"
        stroke-width="1.5"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <nav
    [ngClass]="{
      header__nav: true,
      'header__nav--show': openMenu
    }"
  >
    <div class="header__mobile-nav-btn" (click)="onToggle()">
      <svg
        *ngFor="let svg of [1, 2, 3]"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="2"
        viewBox="0 0 16 2"
        fill="none"
      >
        <path
          d="M0 1H16"
          stroke="#141B34"
          stroke-width="1.5"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <ul class="header__links">
      <li *ngFor="let link of links" class="header__link-item">
        <a class="header__link" href="#{{ link }}">{{ link }}</a>
      </li>
    </ul>

    <button class="header__btn btn">Let’s chat</button>
  </nav>
</header>
