@import "abstracts";
.stats {
  position: relative;
  isolation: isolate;
  text-align: center;
  &-wrapper {
    background-color: $--clr-background;
    overflow: hidden;
  }
  &__bg-img {
    @include square(890);
    position: absolute;
    top: toRem(9);
    left: toRem(609);

    z-index: zIndex("below");
  }
  &__heading {
    color: $--clr-secondary;
    margin-block-end: toRem(24);
  }
  &__sub-heading {
    color: $--clr-secondary;
    margin-block-end: toRem(110);
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: toRem(15);
    background-color: $--clr-background;
    color: $--clr-secondary;
    width: auto;
    text-align: center;
    &-list {
      display: flex;
      justify-content: space-between;
      gap: toRem(30);
      &-item{
        flex: 1;
      }
      @include respond-to(small) {
        flex-direction: column;
        align-items: center;
      }
    }
    &-value {
      font-size: toRem(50);
      font-style: normal;
      font-weight: 700;
      line-height: 1; /* 100% */
    }
    &-desc {
      font-size: toRem(20);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
.dotpattern{
  // background-color: $--clr-background;
}

