@import "abstracts";
.hero {
  $header-height: toRem(95);
  display: flex;
  justify-content: space-between;
  align-items: center;

  // old code

  // ṇew code
  // height: calc(100vh - $header-height);
  // padding: 0;

  @include respond-to(small) {
    flex-direction: column-reverse;
    gap: toRem(15);
    padding-bottom: toRem(30);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    flex: 0 1 toRem(544);
    @include respond-to(small) {
      width: 100%;
      align-items: center;
      flex: auto;
      gap: toRem(15);
    }
  }
  &__heading {
    text-align: left;
    @include respond-to(small) {
      text-align: center;
      line-height: 1;
    }
  }
  &__sub-heading {
    font-size: toRem(25);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $--clr-secondary;
    text-transform: none;
  }
  &__para {
    color: $--clr-secondary;
    font-size: toRem(25);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    @include respond-to(small) {
      text-align: center;
    }
  }
  &__buttons {
    display: flex;
    gap: toRem(44);
    margin-block-start: toRem(40);
    @include respond-to(small) {
      width: 100%;
      flex-direction: column;
      gap: toRem(15);
      margin-block-start: toRem(15);
    }
  }
  &__image {
    border-radius: 50%;
    width: toRem(553);
    height: auto;
    aspect-ratio: 1;
    flex: 0 0.5 toRem(553);
    @include respond-to(small) {
      width: 100%;
      flex: auto;
      flex-grow: 0;
    }
  }
}
