<section class="hero container">
  <div class="hero__content">
    <h2 class="hero__sub-heading">Welcome to my Portfolio</h2>
    <h1 class="hero__heading h1">
      Hi I’m <br />
      <span class="special"> Robert Junior </span> <br />
      Product Designer
    </h1>
    <p class="hero__para">
      Collaborating with highly skilled individuals, our agency delivers
      top-quality services.
    </p>
    <div class="hero__buttons">
      <button class="btn">Hire Me!</button>
      <button class="btn-outlined">
        See my CV
        <img
        src="/assets/images/icons/download.svg"
        alt=""
        width="20"
        height="20"
        fetchpriority="high"
        />
      </button>
    </div>
  </div>
  <img
    src="assets/images/profile/hero-image.png"
    alt="hero image"
    class="hero__image"
    width="553"
    height="560"
  />
</section>
