/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@import "abstracts";
@import "base";
@import "vendors";
@import "components";
@import "themes";

* {
  // outline: 1px solid;
  &:focus {
    outline: 1px solid currentColor;
  }
}
app-projects .om-starry-sky .om-starry-sky-background {
  z-index: zIndex("below");
}

om-shine-border{
  // width: fit-content;
  display: inline-block;
  width: 100%;
}
div.om-shine-border {
  overflow: hidden;
  // width: fit-content;
  // width: 100%;
  .card {
    border-radius: 0;
    width: 100%;
  }
  &-wrapper{
    width: fit-content;
    width: 100%;

  }
}
