// -----------------------------------------------------------------------------
// This file contains very basic styles.
// i.e all links should have red underline
// -----------------------------------------------------------------------------
.pageclip-form__success{
  display: none;
}
:root {
  @include respond-to(large) {
    font-size: .9vw;
  }
  @include respond-to(small) {
    font-size: 13.51vmin;
    font-size: 2.99vmin;
    // font-size: 3.135rem;
  }
}
* {
  scroll-behavior: smooth;
  &::selection {
    background-color: $--clr-primary;
    color: $--clr-background;
  }
}
body {
  color: $--clr-secondary;
  background-color: $--clr-background;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,.h1 {
  font-size: toRem(60);
  // font-style: normal;
  font-weight: 700;
  line-height: 1;
}
h2 {
  font-size: toRem(20);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: toEm(.8);
  color: $--clr-primary;
  text-transform: uppercase;
}
h3 {
  font-size: toRem(50);
  font-style: normal;
  font-weight: 800;
  // line-height: normal;
}
a{
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
input,textarea{
  caret-color: $--clr-secondary;
  color: $--clr-secondary;
}
.special {
  color: $--clr-primary;
}
.strong {
  font-weight: 700;
}

.demo-logo{
  display: inline-block;
  font-size: toRem(14);
  padding: .4em .8em;
  border-radius: 4px;
  background-color: $--clr-background;
}


.cover-background{
  position: absolute;
  inset: 0;
  display: block;
  z-index: -1;
}
