<div class="tab-info__buttons btn-group">
  <!-- <button class="tab-info__btn btn">Main Skills</button>
  <button class="tab-info__btn btn-outlined">Awards</button> -->
  @for (tab of tabData(); track tab) {
    <button
      (click)="onSelectTab(tab.name)"
      [ngClass]="{
        'tab-info__btn': true,
        btn: selectedTab == tab.name,
        'btn-outlined': selectedTab != tab.name
      }"
      >
      {{ tab.name }}
    </button>
  }
</div>
<ul class="tab-info__list">
  @for (data of selectedData; track data) {
    <li class="tab-info__list-item">
      <span class="tab-info__skill-name"> {{ data.name }} </span>
      @if (data?.text) {
        <span class="tab-info__skill-desc">
          {{ data.text }}</span
          >
        }
        <!-- <app-progress-bar
        *ngIf="data?.progress"
        [value]="data.progress"
        class="tab-info__progress"
      ></app-progress-bar> -->
    </li>
  }
</ul>
