@if(data()){ @let info = data();
  <div class="container-full">
    <section class="supports-wrapper container section">
      <h2 class="supports__heading">{{ info.subheading }}</h2>
      <h3 class="supports__sub-heading">
        <!-- Tools & Frameworks Powering My
        <span class="special">Frontend Development</span> -->
        {{ info.heading }}
      </h3>
      <p class="supports__desc">
        {{ info.paragraph }}
      </p>
      <div class="supports container">
        <div class="marquee-wrapper">
          @if(firstRow().length > 0 && secondRow().length > 0){
            <om-marquee>
              @for (tech of firstRow(); track tech) {
                <div
                  #OmMarqueeContent
                  class="supports-item"
                  >
                  <img
                    class="supports-image"
                    [src]="tech.imageUrl"
                    [alt]="tech.name"
                    [title]="tech.name"
                    />
                  </div>
                }
              </om-marquee>
              <om-marquee [reverse]="true">
                @for (tech of secondRow(); track tech) {
                  <div
                    #OmMarqueeContent
                    class="supports-item"
                    >
                    <img
                      class="supports-image"
                      src="{{ tech.imageUrl }}"
                      alt="{{ tech.name }}"
                      title="{{ tech.name }}"
                      />
                    </div>
                  }
                </om-marquee>
              }
              <div class="marquee-gradient left"></div>
              <div class="marquee-gradient right"></div>
            </div>
          </div>
        </section>
      </div>
    }
