<!-- <om-aurora> -->
@if(data()){
  @let info = data();
<om-starry-sky
  skyColor="var(--clr-background)"
  [shootingStarsConfig]="{
    minDelay: 500,
    maxDelay: 1200,
    starColor: 'var(--clr-secondary)',
    trailColor: 'var(--clr-neutral)'
  }"
  [starsBackgroundConfig]="{ starDensity: 0.002, }"
>
  <section class="hero container section">
    <!-- {{ info?.heading }} -->
    <!-- {{words?.[0]}} -->
    <div class="hero__content">
      <h2 class="hero__sub-heading">Welcome to my Portfolio</h2>
      <h1 class="hero__heading h1">
        {{ info.heading }}
        <!-- <om-typewriter
          [words]="[info?.heading]"
          [writeDelay]="500"
          [writeSpeed]="100"
          styleClass="hero__heading h1"
          [disableLoop]="true"
        >
        </om-typewriter> -->
      </h1>
      <p class="hero__para">{{info.paragraph}}</p>
      <div class="hero__buttons">
        <button class="btn">
          <a title="{{info.contactButton}}" href="#contact me"> {{info.contactButton}}</a>
        </button>
        <button class="btn-outlined">
          <a href="#" title="{{info.downloadCVButton}}">{{info.downloadCVButton}}</a>
          <!-- <img
          src="/assets/images/icons/download.svg"
          alt=""
          width="20"
          height="20"
          fetchpriority="high"
        /> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-download"
            viewBox="0 0 16 16"
            title="download Resume"
          >
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
            />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- srcset="
      /assets/images/profile/hero-image.webp        553w,
      /assets/images/profile/mobile-hero-image.webp 350w
    " -->
    <img
      src="{{info.profilePhoto}}"
      alt="hero image"
      class="hero__image"
      width="553"
      height="553"
    />
  </section>
</om-starry-sky>
<!-- </om-aurora> -->
}
