.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(15);

  font-size: toRem(20);
  padding: toEm(17) toEm(33);
  text-align: center;
  border-radius: toRem(50);
  background: $--clr-primary;
  color: $--clr-background;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:hover{
    filter: contrast(.9);
  }
  & svg{
    width: 1.3rem;
    height: 1.3rem;
  }
  & img {
    @include square(20);

    object-fit: contain;
  }

  &-outlined {
    @extend .btn;
    background-color: $--clr-background;
    color: $--clr-primary;
    border: 1px solid $--clr-primary;
  }

  &-group{
    display: flex;
    justify-content: center;
    gap: toRem(24);
    @include respond-to(small) {
      flex-direction: column;
      gap: toRem(15);
    }
  }

  &:disabled{
    opacity: .8;
    cursor: not-allowed;
  }

}

